<div class="sale-banner">
  <div class="sale-banner__content container container--xl">
    <h2 class="title title--xl text--bold title--display">The Spring Sale</h2>
    <div class="space--xxs"></div>
    <span class="title title--xxxs text--wide-kern text--upper text--bold">Fly to Taiwan via Hong Kong <span class="text--normal">|</span> Sale on now until May 31</span>
    <hr class="hr--center hr--cathay">
    <div class="row row--4-4-4">

      <div class="col">
        <p class="text--xxl text--medium">Fly <span class="text--bolder">Business Class</span></p>
        <div class="space--xs"></div>
        <a href="https://www.cathaypacific.com/cx/en_GB.html?utm_medium=PARTNERSHIP&utm_source=SECRET" class="btn btn--cathay">from £2289</a>
      </div>

      <div class="col">
        <p class="text--xxl text--medium">Fly <span class="text--bolder"> Premium Class</span></p>
        <div class="space--xs"></div>
        <a href="https://www.cathaypacific.com/cx/en_GB.html?utm_medium=PARTNERSHIP&utm_source=SECRET" class="btn btn--cathay">from £1239</a>
      </div>

      <div class="col">
        <p class="text--xxl text--medium">Fly <span class="text--bolder"> Economy</span></p>
        <div class="space--xs"></div>
        <a href="https://www.cathaypacific.com/cx/en_GB.html?utm_medium=PARTNERSHIP&utm_source=SECRET" class="btn btn--cathay">from £509</a>
      </div>

    </div>
  </div>
</div>