<div class="highlight">

  <a href="javascript:void(0);" data-modal-item="{{highlight.id}}" data-modal-group="section" class="js-open-modal highlight__link"></a>

  <div class="highlight__title">
    <h4 class="title title--xxxs text--bold text--upper text--wide-kern">{{highlight.title}}</h4>
  </div>

  <div class="highlight__image bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{page.id}}/pois/{{highlight.id}}.jpg);"></div>

  <div class="highlight__content boxpad--lg">
    {{highlight.content | truncate:110}} <a href="javascript:void(0);" class="text--bold">Read more</a>
  </div>

</div>