<div class="flights-promo vpad--xxxxl bg--img text--white bg--img" style="background-image: url({{site.img}}/content/competition-banner.jpg);">
  <div class="flights-promo__content">
    <div class="container">
      <div class="text--center">
        <h2 class="title title--xxxl title--display text--upper text--bold text--shadow">Win your personalised metropolis to mountain tour!</h2>
        <div class="space--xs"></div>
        <a href="{{site.baseurl}}/competition" class="btn btn--solid">Enter now</a>
      </div>
    </div>
  </div>
</div>