<div class="flights-promo vpad--xxxl bg--img text--white bg--img" style="background-image: url({{site.img}}/content/flights-banner.jpg);">
  <div class="flights-promo__content">
    <div class="container container--xxl">
      <div class="text--center">
        <h2 class="title title--xxl title--display text--upper text--bold">Get there with Cathay Pacific</h2>
        <div class="container container--no-padding container--lg">
          <p class="text--xl vpad--xxs text--medium">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod.</p>
          <div class="space--xs"></div>
          <a href="{{site.baseurl}}/flights" class="btn btn--solid">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</div>