---
layout: default
id: flights
title: Flights
nav: true
nav-order: 4
nav-title: Getting there

banner:
  content: >


intro: >
  <h1 class="title title--xxl title--display text--bold text--upper">Flights with Cathay Pacific</h1>
  <p class="text--xl">With 49 non-stop flights a week from the UK, Cathay Pacific is the natural airline choice when travelling to Taiwan via Hong Kong. For your convenience, choose to fly from London Heathrow, London Gatwick or Manchester Airport.</p>
  <div class="space--sm"></div>
  <!-- <a id="track-flights-btn-top" href="https://www.cathaypacific.com/cx/en_GB.html?utm_medium=PARTNERSHIP&utm_source=SECRET" class="btn btn--cathay" target="_blank">View flights</a> -->


features:

  - title: A little extra
    id: luggage
    content: Take the hassle out of packing – and shopping, with their generous standard luggage allowance in all cabins of 30kgs in Economy, 35kgs in Premium Economy, 40kgs in Business Class and 50kgs in First.

  - title: Bright Lights, Big City
    id: cities
    content: Make it a multi-destination trip; choose to travel onwards to Taiwan and add a stop-over in Hong Kong in either, or both, directions. Or choose to fly from Hong Kong with their extensive network in South East Asia, Australia, New Zealand, China, Japan and Korea.

  - title: Upgrade to Premium Economy
    id: upgrade
    content: Choose to fly Premium Economy and enjoy priority boarding, amenity kit, welcome drink upon boarding and more spacious seats, with a generous recline.

  - title: Reduce jetlag on the A350
    id: jetlag
    content: Flights from London Gatwick and Manchester are operated on the Airbus A350 aircraft. Wider cabins, intelligent mood lighting, reduced noise, improved cabin pressure and humidity levels all help to maximise comfort.

  - title: You’re in control
    id: control
    content: Manage your journey your way, all on the Cathay Pacific mobile app.


---


<div class="bg--white">
  <div class="container container--xxl text--center">
    <div class="space--xxl"></div>
    {{page.intro}}
  </div>
</div>


{% include page/cathay-sale-banner.html %}


<div class="bg--grey-lightest">
  {% assign features = page.features %}
  <div class="container container--xxl vpad--xxl">
    {% for feature in features %}
    <div class="bob {% cycle '','bob--swap'%}">
      <div class="bob__img">
        <a href="{{site.baseurl}}{{feature.url}}">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/{{feature.id}}.jpg');"></div>
        </a>
      </div>
      <div class="bob__text">
        <h2 class="title title--sm text--bold">{{feature.title}}</h2>
        <p class="text--lg">{{ feature.content}}</p>
      </div>
    </div>
    {% endfor %}

    <div class="space--xxxl"></div>
    <div class="container container--xl text--center">
      <h2 class="title title--xl">Get there with Cathay Pacific</h2>
      <div class="space--md"></div>
      <a id="track-flights-btn-bottom" href="https://www.cathaypacific.com/cx/en_GB.html?utm_medium=PARTNERSHIP&utm_source=SECRET" class="btn btn--cathay" target="_blank">View flights</a>
    </div>
  </div>
</div>