<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="content-spacing section-spacing">
      {{ content }}
    </div>

    {% unless page.id == 'flights' or page.id == 'competition' %}
      {% include page/promo-flights.html %}
    {% endunless %}
    {% include page/footer.html %}

    {% include modal/map.html %}
    {% include modal/modal.html %}

  </body>

</html>