---
layout: default
---

<div class="page-intro page-intro--gradient{% if page.id == 'taiwan' %} page-intro--light{% endif %}">
  <div class="container container--xxl">

    <div class="text--center">
      {{page.intro}}
      <div class="space--md"></div>
      <a href="javascript:void(0);" data-map-focus="{{page.id}}" class="js-open-map btn btn--primary">Explore {{page.title}} map</a>
    </div>

  </div>
</div>


{% assign sections = page.sections %}
{% for section in sections %}

<div class="guide-section {% if page.id == 'hong-kong' %} guide-section--dark text--white{% endif %}" style="background-image: url({{site.img}}/content/{{page.id}}/bg-{{section.id}}.jpg);">
  <div class="guide-section__bg"></div>
  <div class="guide-section__content container">
    <!-- section title -->
    <div class="text--center">

      <h2 class="title title--xxxl title--display text--upper text--bold">{{section.title}}</h2>
      {% if section.subtitle %}
        <div class="space--xxs"></div>
        <h5 class="title title--xxs title--lines text--medium text--upper text--wide-kern">{{section.subtitle}}</h5>
      {% endif %}
      <div class="space--sm"></div>
      <div class="container container--xl text--medium">
        {{section.content}}
      </div>

    </div>
    <div class="space--xl"></div>

    <!-- section highlights -->
    <div class="row row--4-4-4">
      {% assign highlights = section.highlights %}

      {% for highlight in highlights %}

        {% assign highlightdata = site.data.modal.highlight | where: "id", highlight.id %}
        {% for highlight in highlightdata %}

          <div class="col">
            {% include page/highlight.html %}
          </div>

        {% endfor %}
      {% endfor %}
    </div>

    {% if section.external-link %}
    <div class="space--md"></div>
    <div class="text--center">
      <a id="track-{{page.id}}-{{section.id}}-btn" href="{{section.external-link}}" target="_blank" class="btn btn--solid">Discover more</a>
    </div>
    {% endif %}

  </div>
</div>

{% endfor %}


<!-- EXPERTS -->
{% include page/expert-section.html %}

